# ignore everything in the WP root except the "wp-content" directory.
wordpress/*
!wordpress/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wordpress/wp-content/*
# plugins are handled by composer.json
#!wordpress/wp-content/mu-plugins/
#!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/

# ignore these plugins
#wordpress/wp-content/plugins/hello.php

# ignore specific themes
wordpress/wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore vendor directories
vendor/

# ignore system files
.DS_Store
.idea/*

# ignore log files and databases
*.log
*.sql
*.sqlite
